@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
html, body {
    margin: 0;
    /* height: 1500px; */
    width: 100%;
    background-color: #1b1b1f;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Segoe UI','Segoe UI Emoji','Segoe UI Symbol','Lato','Liberation Sans','Noto Sans','Helvetica Neue','Helvetica',sans-serif
}
hr {
    margin: 10px;
    position: relative;
    top: -1%;
}
img {
    image-rendering: pixelated;
}

.header {
    z-index: 2;
    background-color: rgb(34, 33, 37);
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    font-family: 'Times New Roman', Times, serif;
}
.header-line {
    height: 100%;
    display: flex;
    position: relative;
}
.logo-text {
    width: 20%;
    height: 100%;
    text-align: center;
    align-items: center;
    position: relative;
    border-bottom: 5px solid rgb(170, 4, 4);
}
.logo-text a {
    font-size: 1.4em;
    text-decoration: none;
    font-family: 'Linux Libertine', 'Times New Roman', 'Liberation Serif', 'Nimbus Roman', 'Noto Serif', 'Times', serif;
    color: #eee;
    text-decoration: none;
    font-weight: 200;
    font-variant: small-caps;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-variant-caps: small-caps;
    font-variant-alternates: normal;
    line-height: 0.8;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 15%;
    text-align: center;
}
.logo-text a:hover {
   text-decoration: underline;
}
.search {
    height: 100%;
    width: 60%;
    position: relative;
    border-bottom: 5px solid rgb(65, 50, 197);
}
.search input {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 10%;
    background-color: rgb(44, 43, 44);
    font-size: 1em;
    color: #ddd;
    box-sizing: border-box;
    padding: 0.4em 4.5em 0.2em 2em;
    border: 1px solid rgb(78, 78, 78);
}
.auth {
    width: 20%;
    height: 100%;
    border-bottom: 5px solid rgb(65, 161, 109);
    position: relative;
    cursor: pointer;
}
.auth span {
    color: #eee;
    text-decoration: none;
    position: relative;
    top: 25%;
    left: 20%;
    font-size: 1.5em;
}
.auth a:hover {
    text-decoration: underline;
}
.auth-window {
    background-color: white;
    position: absolute;
    height: 125px;
    width: 8%;
    font-family: 'Segoe UI','Segoe UI Emoji','Segoe UI Symbol','Lato','Liberation Sans','Noto Sans','Helvetica Neue','Helvetica',sans-serif;
    background: #27272e;
    border: 1px solid #37373e;
    left: 82.5%;
    top: 100%;
}
.aw-container { 
    height: 95%;
    width: 80%;
    margin: 1em;
    font-size: 0.85em;
}
.aw-text {
    color: #ddd;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5em;
}
.auth-button {
    margin-top: 0.5em;
}
.auth-button a {
    text-decoration: none;
    color: #007FFF;
}
.auth-button a:hover {
    text-decoration: underline;
    color: white;
}

.main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
}   
.mainblock {
    background: #212126;
    width: 65%;
    height: auto;
    margin: 15px;
    margin-bottom: 75px;
    position: relative;
}
.mainblock-name {
    display: flex;
}
.mainblock-name h1 {
    margin-top: 10px;
    margin-left: 5px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: solid 4px #3366cc;
    height: 0.75em;
    font-weight: 500;
    vertical-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    width: 99%;
}
.mainblock-name img {
    height: 2.25em;
    width: 2.25em;
    padding: 0.4em;
} 
.edit-button-img:hover { 
    border: solid 1px white;
    border-radius: 10px;
    cursor: pointer;
} 
.edit-button-img-ON {
    border: solid 1px white;
    border-radius: 10px;
}
.edit-button {
    position: absolute;
    left: 95%;
}
.mainblock-buttons {
    font-size: 1.25em;
    width: 100%;
    height: 2em;
    margin: 0;
}
.mainblock-buttons a {
    color: #007FFF;
    font-size: 0.75em;
}
.mainblock-buttons a:hover {
    border-bottom: solid 3px whitesmoke;
    color: whitesmoke;
}
.mainblock-buttonleft {
    float: left;
    margin: 10px;
    text-decoration: none;
}
.mainblock-buttonright {
    float: right;
    margin: 10px;
    text-decoration: none;
}
.logo {
    text-align: center;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}
.middle-info {
    height: fit-content;
}
.mainblock-info {
    width: 45%;
    float: right;
    margin: 10px;
    margin-bottom: 0px;
    height: 40%;
    color: #ddd;
}
.about-ON {
    cursor: pointer;
    background-color: #37373e;
    border-radius: 10px;
}
.help-ON {
    cursor: pointer;
    background-color: #37373e;
    border-radius: 10px;
}
.community img {
    margin-bottom: 10px;
}
.mainblock-links {
    width: 45%;
    margin: 10px;   
    text-align: center;
    font-size: 2em;
    font-family: Oswald;
    text-shadow: 3px 3px 0px black, 5px 5px 0px darkred;
}
.mainblock-links a {
    text-decoration: none;
    color: #007FFF;
    font-weight: 100;
    font-size: 1.25em;
    font-variant: small-caps;
    line-height: 1.3em;
}
.mainblock-links a:hover {
    border-bottom: 3px solid white;
    box-shadow: 0px 3px 0px black, 0px 5px 0px darkred;
    color: white;
}
.manuals-button {
    width: 100%;
    text-align: center;
    font-family: Oswald;
    text-shadow: 3px 3px 0px black, 5px 5px 0px darkred;
    font-size: 2em;
    align-items: center;
    float: right;
}
.manuals-button a {
    color: #007FFF;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.25em;
    font-variant: small-caps;
    overflow: hidden;
}
.manuals-button a:hover {
    border-bottom: 3px solid white;
    box-shadow: 0px 3px 0px black, 0px 5px 0px darkred;
    color: white;
}
.manuals {
    font-family: Oswald;
    text-shadow: 3px 3px 0px black, 5px 5px 0px darkred;
    font-variant: small-caps;
    text-align: center;
    display: flex; 
    align-items: baseline;
    flex-flow: row wrap; 
    justify-content: center; 
    column-gap: 5em; 
    width: 100%;
    margin-bottom: 20px;
}
.manuals a {
    font-size: 2.5em;
    color: #007FFF;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
.manuals a:hover {
    border-bottom: 3px solid white;
    box-shadow: 0px 3px 0px black, 0px 5px 0px darkred;
    color: white;
    height: 1.4em;
}
.manuals a:last-child {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.manuals a:last-child:hover {
    height: 1.1em;
}

.leftmenu {
    z-index: 1;
    position: absolute;
    margin: 5em;
    margin-left: 5em;
    width: 12%;
}
.leftmenu-logoimg img {
    height: 135px;
    width: auto;
    display: block;
    margin: 0 auto;
}
.lm-abouttext {
    border-bottom: 2px solid #ddd;
    margin: 0;
    margin-bottom: 1.45em;
    color: #ddd;
    width: 100%;
}
.lm-links {
    margin: 1em;    
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    background: #212126;
    font-size: 0.9em;
}
.lm-links:last-child {
    padding-bottom: 2em;
}
.lm-links a {
    color: #007FFF;
    text-decoration: none;
    display: block;
    margin: -0.65em;
    margin-left: 0;
}
.lm-links a:hover {
    text-decoration: underline;
    color: white;
}
.right-menu {
    background: #212126;
    position: absolute;
    z-index: 1;
    left: 112em;
    top: 5em; 
    width: 175px;
    height: 175px;
    font-size: 0.9em;
    padding: 1em;
}
.right-menu a {
    color: #007FFF;
    text-decoration: none;
    display: block;
    margin: -0.65em;
    margin-left: 0.6em;
}
.right-menu a:hover {
    color: white;
    text-decoration: underline;
}
.rm-more {
    width: 90%;
    border-bottom: 2px solid #ddd;
    margin: 0.5em;
    margin-bottom: 1em;
    color: #ddd;
}

.footer {
    border-top: 1px solid white;
    width: 100%;
    position: relative;
    flex-shrink: 0;
}
.footer-line {
    color: #ddd;
    font-size: 1em;
    margin: 1em 5em;
}
.footer-line a {
    text-decoration: none;
    color: lightblue;
}
.footer-line a:hover {
    text-decoration: underline;
}
.links a {
    padding-right: 1em
}
.rightimg-links {
    position: absolute;
    left: 85%;
    top: 10%;
}
.rightimg-links img {
    margin-right: 1em;
}